
a{
    text-decoration: none;
    font-size: 17px;
}

p{
    font-size: 17px;
}

a:hover{
    color: #0d6efd !important;
}

i{
    font-size: 25px;
}

.footer-backg{
    background-color: #eaf4f4;
    width: 100%;
    
}

footer{
    margin-top: auto;
    width: 100%;
}

